div.box.gantt{
    width: fit-content;
    height: fit-content;
}

span.tag.overlay{
    z-index: 2;
    position: absolute;
}

.form {
    height: 638px;

}

.horizontalLabel {
    top: -5%;
    position: relative;
    z-index: 1;
}
  