div.box.gantt{
    width: fit-content;
    height: fit-content;
}

div.box.form{
    max-width: fit-content;
}

span.tag.overlay{
    z-index: 2;
    position: absolute;
}

.horizontalLabel {
    top: -5%;
    position: relative;
    z-index: 1;
}
  